.editable-trans-wrapper {
  display: inline-block;
  i.open-edit-modal-trigger.anticon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0;
    cursor: pointer;
    color: #7ec2f3;
    font-size: 20px;
    font-weight: 500;
    pointer-events: auto;
    &:hover {
      color: #0C60AA;
    }
  }
  &.edit-active {
    position: relative;
    padding-right: 25px;
    &>span {
      border-bottom: 2px dotted #108ee9;
    }
  }
}
.translation-field {
  margin-bottom: 10px;
  .translation-field-label {
    font-size: 13px;
    margin-bottom: 5px;
  }
}
.spin-translation-fields.ant-spin.ant-spin-spinning {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}