.translation-massages-table {
  .table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .title {
      font-weight: bold;
      font-size: 22px;
    }
    .right {

    }
  }
  .ant-table-thead > tr > th {
    background: white;
    &.ant-table-column-sort {
      background: white;
    }
    .ant-table-column-sorter {
      color: lightgrey;
      & > .ant-table-column-sorter-up, & > .ant-table-column-sorter-down {
        height: 8px;
        i {
          font-size: 16px;
          height: 8px;
        }
      }
    }
  }
}